python
fastapi
uvicorn
traitlets 
notebook 
Django==4.1.5
djangorestframework
markdown
django-filter
conda
virtualenv
requests
pillow
django
psycpg2
psycopg2
pipreqs
PyJWT
environ
django-cors-headers
datetime
django-ckeditor
